body{

margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
font-family:Georgia,serif;

background:
linear-gradient(
rgba(80,50,20,0.3),
rgba(80,50,20,0.3)
),
url("otono.jpg");

background-size:cover;
background-position:center;

}


.contenedor{

text-align:center;
width:700px;

background:rgba(255,245,230,0.85);

padding:50px;

border-radius:20px;

}


h1{

font-size:70px;
color:#5f4b32;

}


p{

font-size:25px;
line-height:1.8;
color:#555;

}


button{

margin-top:30px;

padding:18px 45px;

border:none;

border-radius:40px;

background:#6f513d;

color:white;

font-size:22px;

cursor:pointer;

}



.escena-otono{

display:none;

position:fixed;

width:100%;

height:100%;

background:

linear-gradient(
rgba(120,70,30,.4),
rgba(60,40,20,.6)
),
url("paisaje.jpg");

background-size:cover;

overflow:hidden;

}



.hoja{

position:absolute;

font-size:70px;

animation:caer 5s linear infinite;

}



.hoja1{

left:10%;

}

.hoja2{

left:40%;

animation-delay:1s;

}

.hoja3{

left:70%;

animation-delay:2s;

}

.hoja4{

left:85%;

animation-delay:3s;

}



@keyframes caer{

from{

top:-100px;
transform:rotate(0deg);

}

to{

top:100vh;
transform:rotate(720deg);

}

}